.auth-information[b-4ru1hozdms]{
    font-family: Inter,sans-serif;
    font-size: 13px;
    /* font-weight: bold; */
    margin-top: 7px;
    text-transform: uppercase;
    /* color: #5e5e5e ; */
    cursor: pointer;
}
.other-infomation[b-4ru1hozdms]{
    font-family: Roboto,sans-serif;
}
.other-information-item[b-4ru1hozdms]{
    font-size: 12px !important;
    margin-top: 5px;

}
.title-other-information[b-4ru1hozdms]{
    font-weight: bold;
    font-size: 18px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-img[b-4ru1hozdms]{
    height: 33px;
    margin-right: 15px;
}

.suport-item[b-4ru1hozdms]{
    margin-bottom: 7px;
}

.suport-item-describe[b-4ru1hozdms]{
    font-size: 14px;
}

.contact-form-1[b-4ru1hozdms]{
    height: 278px
}

.more-link-item[b-4ru1hozdms]{
    color:rgb(146, 146, 146) !important;
    font-size: 9px;
    cursor: pointer;
}

.footer-adv-section[b-4ru1hozdms]{
    height: 360px
}


hr[b-4ru1hozdms]{
    color: #a6a6a6;
}

@media only screen and (max-width: 576px){
    .contact-form-1[b-4ru1hozdms]{
        height: 258px
    }
}